.Container{
  
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.329);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title
{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

.logo
{
    height: 4vh;
    width: 4vw;
    cursor: pointer;
    margin-left: 2em;
    
}

.navicon
{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
}